.katalog-okvir {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2% 10% 0% 10%;
    margin-bottom: 5%;
    font-size: medium;

    display: flex;
    gap: 5%;
}

.katalog-cijena-okvir {
    flex: 1;
    padding: 1.5rem;
    border-radius: 25px;
    background-color: rgb(238, 245, 243);
}

.katalog-cijena-okvir h2 {
    font-weight: bold;
}

.katalog-zeleni-okvir {
    color: #F4FFF8;
    border: 2px solid #4a756b;
    background-color: #1d8770;
}

.katalog-cijena-okvir p {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.katalog-cijena-okvir ul {
    text-align: left;
} 

.katalog-cijena-okvir li {
    margin-bottom: 10px;
}