/* kontakt */

.okvir-za-formu {
    border-radius: 25px;
    padding: 40px;
    margin: 1%;
    font-size: smaller;
    background-color: rgb(238, 245, 243);
}

label {
    margin: 2% 0 2% 0;
}

.okvir-za-formu p {
    width: 75%;
    margin-bottom: 4%;
}

.prazni-prostor {
    padding: 15px;
}

.opis-odabira {
    display: inline;
}

input[type=text], input[type=file] {
    width: 50%;
    margin: 1.5%;
    padding: 6px;
    border: 1px solid gray;
}



input[type=submit] {
    margin-top: 5%;
    display: block;
}

select {
    border: 1px solid gray;
    background-color: white;
    padding: 6px 6px;
    margin: 1.5%;
}

textarea {
    display: block;
    min-height: 100px;
    width: 90%;
    margin: 1% 0 1% 0;
}