#okvirZaFormu {
	border-radius: 25px;
	padding: 40px;
	margin: 1%;
	font-size: smaller;

	box-shadow:
		0px 1px 4px rgba(3, 7, 18, 0.02),
		0px 5px 16px rgba(57, 81, 150, 0.03),
		0px 12px 36px rgba(3, 7, 18, 0.05),
		0px 20px 64px rgba(3, 7, 18, 0.06),
		0px 32px 100px rgba(3, 7, 18, 0.08);
}

label {
	margin: 2% 0 2% 0;
}

p {
	width: 75%;
	padding-bottom: 20px;
}

label[for="odabir-obavijesti"] {
	display: inline;
}

input[id^=unos] {
	width: 50%;
	margin: 1.5%;
	padding: 6px;
	border: 1px solid gray;
}

input[type=submit] {
	margin-top: 5%;
	display: block;
}

select {
	border: 1px solid gray;
	background-color: white;
	padding: 6px 6px;
	margin: 1.5%;
}

textarea {
	display: block;
	min-height: 100px;
	width: 90%;
	margin: 1% 0 1% 0;
}

/* media prilagodba - TABLET*/

@media (max-width: 1050px) {

	input,
	select,
	textarea {
		font-size: large;
	}

	option {
		font-size: small;
	}
}

/* media prilagodba - MOBITEL*/

@media (max-width: 600px) {
	select {
		max-width: 80%;
		display: block;
	}

	input[id^=unos] {
		min-width: 80%;
		display: block;
	}

	textarea {
		margin-bottom: 7%;
	}

	label {
		font-size: large;
	}
}