html {
    overflow-x: hidden;
    height: 100%;
}



/* body */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100%;
}

.struktura_stranice {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}





/* navigacijska traka */
nav ul {
    list-style-type: none;
    margin: 0;
    background-color: #4fa08e;
    color: #F4FFF8;
    display: flex;
    padding: 0.75rem;
}

nav ul a {
    color: #F4FFF8;
    padding: 0.75rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: #383f41;

    box-shadow:
		0px 1px 4px rgba(3, 7, 18, 0.02),
		0px 5px 16px rgba(3, 7, 18, 0.03),
		0px 12px 36px rgba(3, 7, 18, 0.05),
		0px 20px 64px rgba(3, 7, 18, 0.06),
		0px 32px 100px rgba(3, 7, 18, 0.08);
}

.naslov-stranice {
    font-weight: bold;
    pointer-events: none;
    background-color: white;
	color: #4fa08e;
    padding: 3px;
    margin-right: 10px;
}


.aktivna-stranica {
	background-color: white;
	color: #4fa08e;
	font-weight: bold;
}




/* main */
main {
    flex-grow: 1;
}

main > h1 {
    text-align: center;
    font-size: x-large;
    margin-top: 30px;
    color: #1d8770;
}

.masni-tekst {
    font-weight: bold;
    color: #1d8770;
}

.kurzivni-tekst {
    font-style: italic;
}

.bijeli-tekst {
    color: white;
}




/* footer */
footer {
    background-color: #212829;
    width: 100%;
    padding: 30px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    color: #F4FFF8;
}

footer img {
    width: 50px;
}



/* tipke */

.bijela-tipka {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    padding: 17px 35px;
    margin: 10px;
    color: #1d8770;
    border: 2px solid #1d8770;
    background-color: white;
    border-radius: 20px;

    box-shadow:
		0px 1px 4px rgba(3, 7, 18, 0.02),
		0px 5px 16px rgba(57, 81, 150, 0.03),
		0px 12px 36px rgba(3, 7, 18, 0.05),
		0px 20px 64px rgba(3, 7, 18, 0.06),
		0px 32px 100px rgba(3, 7, 18, 0.08);
}

.bijela-tipka:hover {
    background-color: #1d8770;
    color: white;
}

.zelena-tipka {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    padding: 17px 35px;
    margin: 10px;
    color: white;
    border: 2px solid white;
    background-color: #1d8770;
    border-radius: 20px;

    box-shadow:
		0px 1px 4px rgba(3, 7, 18, 0.02),
		0px 5px 16px rgba(57, 81, 150, 0.03),
		0px 12px 36px rgba(3, 7, 18, 0.05),
		0px 20px 64px rgba(3, 7, 18, 0.06),
		0px 32px 100px rgba(3, 7, 18, 0.08);
}

.zelena-tipka:hover {
    background-color: white;
    color: #1d8770;
}


/* jednostavan okvir*/
.jednostavan-okvir {
    margin: 2%;
    display: flex;
}

.jednostavan-okvir > div {
    flex: 1;
}

.jednostavan-okvir h1 {
    color: #1d8770;
    margin-top: 0;
}

.jednostavan-okvir h2 {
    font-size: larger;
    color: #1d8770;
    margin-top: 40px;
}





/* media prilagodba */

@media screen and (max-width: 1000px) {
	/* navigacija */
    nav ul {
		flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 1.5%;
    }

    nav ul a {
        padding: 0.5rem;
    }

    .aktivna-stranica {
        background-color:transparent;
        color: #F4FFF8;
    }


    /* opce */
    .jednostavan-okvir {
        flex-direction: column;
        margin: 6%;
    }


    /* katalog */

    .katalog-okvir {
        flex-direction: column;
        padding: 3% 13% 3% 13%;
    }

    .katalog-cijena-okvir {
        margin-bottom: 10%;
    }


    /* Tim */
    .okvir-slike-tim {
        flex-direction: column;
    }



    /* pocetna stranica */

    .glavni-okvir-za-proizvod {
        flex-direction: column;
        text-align: center;
        width: 75%;
        margin: 10%;
    }

    .okvir-za-statistiku {
        flex-direction: column;
    }

    /* proizvod */
    .proizvod-tipka {
        margin-bottom: 50px;
    }


    /* podnozje */

    footer p {
        margin: 4%;
    }
}