html {
    overflow-x: hidden;
    height: 100%;
}



/* body */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100%;
}

.struktura_stranice {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}





/* nav */
nav ul {
    list-style-type: none;
    margin: 0;
    background-color: #4fa08e;
    color: #F4FFF8;
    display: flex;
    padding: 0.75rem;
}

nav ul a {
    color: #F4FFF8;
    padding: 0.75rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: #383f41;

    box-shadow:
		0px 1px 4px rgba(3, 7, 18, 0.02),
		0px 5px 16px rgba(3, 7, 18, 0.03),
		0px 12px 36px rgba(3, 7, 18, 0.05),
		0px 20px 64px rgba(3, 7, 18, 0.06),
		0px 32px 100px rgba(3, 7, 18, 0.08);
}

.naslov-stranice {
    font-weight: bold;
    pointer-events: none;
    background-color: white;
	color: #4fa08e;
    padding: 3px;
    margin-right: 10px;
}


.aktivna-stranica {
	background-color: white;
	color: #4fa08e;
	font-weight: bold;
}




/* main */
main {
    flex-grow: 1;
}

main > h1 {
    text-align: center;
    font-size: x-large;
    margin-top: 30px;
    color: rgb(15, 127, 80);
}





/* footer */
footer {
    background-color: #212829;
    width: 100%;
}

footer p {
    text-align: center;
    color: #F4FFF8;
    margin: 2%;
}




/* upute */

.okvir-50-50 {
    display: grid;
}





/* placanje */

.placanje-okvir {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2% 10% 0% 10%;
    font-size: smaller;

    display: flex;
    gap: 5%;
}

.placanje-cijena-okvir {
    flex: 1;
    padding: 1.5rem;
    border-radius: 25px;

    box-shadow:
		0px 1px 4px rgba(3, 7, 18, 0.02),
		0px 5px 16px rgba(57, 81, 150, 0.03),
		0px 12px 36px rgba(3, 7, 18, 0.05),
		0px 20px 64px rgba(3, 7, 18, 0.06),
		0px 32px 100px rgba(3, 7, 18, 0.08);
}

.placanje-cijena-okvir h2 {
    font-weight: bold;
}

.placanje-zeleni-okvir {
    color: #F4FFF8;
    border: 2px solid #4a756b;
    background-color: #1d8770;
}

.placanje-cijena-okvir p {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.placanje-cijena-okvir ul {
    text-align: left;
} 

.placanje-cijena-okvir li {
    margin-bottom: 10px;
}



.bijela-tipka {
    font-weight: bold;
    padding: 13px 25px;
    margin: 10px;
    border: 2px solid #4fa08e;
    background-color: white;
    border-radius: 20px;

    box-shadow:
		0px 1px 4px rgba(3, 7, 18, 0.02),
		0px 5px 16px rgba(57, 81, 150, 0.03),
		0px 12px 36px rgba(3, 7, 18, 0.05),
		0px 20px 64px rgba(3, 7, 18, 0.06),
		0px 32px 100px rgba(3, 7, 18, 0.08);
}

.bijela-tipka:hover {
    background-color: #4fa08e;
    color: white;
}

.zelena-tipka {
    font-weight: bold;
    padding: 13px 25px;
    margin: 10px;
    color: white;
    border: 2px solid #abc7c2;
    background-color: #1d8770;
    border-radius: 20px;

    box-shadow:
		0px 1px 4px rgba(3, 7, 18, 0.02),
		0px 5px 16px rgba(57, 81, 150, 0.03),
		0px 12px 36px rgba(3, 7, 18, 0.05),
		0px 20px 64px rgba(3, 7, 18, 0.06),
		0px 32px 100px rgba(3, 7, 18, 0.08);
}

.zelena-tipka:hover {
    background-color: white;
    color: #1d8770;
}





/* media prilagodba */

@media (max-width: 1000px) {
	/* navigacija */
    nav ul {
		flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 1.5%;
    }

    nav ul a {
        padding: 0.5rem;
    }

    .aktivna-stranica {
        background-color:transparent;
        color: #F4FFF8;
    }



    /* placanje */

    .placanje-okvir {
        flex-direction: column;
        padding: 3% 13% 3% 13%;
    }

    .placanje-cijena-okvir {
        margin-bottom: 10%;
    }



    /* kontakt */



    /* podnozje */

    footer p {
        margin: 4%;
    }
}