.okvir-slike-tim {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.okvir-slike-tim > div {
    margin: 3%;
}

.okvir-slike-tim img {
    width: 200px;
    border-radius: 50%;
}

