.okvir-korisnickog-prirucnika {
    border-radius: 25px;
    padding: 2%;
    margin-right: 8%;
    background-color: rgb(238, 245, 243);
}

.okvir-korisnickog-prirucnika li {
    margin: 8px;
}

table {
    text-align: center;
    margin: 2% 8% 2% 2%;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(215, 231, 217);
}

td {
    padding: 10px;
    border: 1px solid black;
}

caption {
    font-size: large;
    margin: 2% 0 2% 0;
    text-align: left;
}

.opis-slike {
    font-size: large;
    margin: 6% 0 0 2%;
}

ol ol {
    list-style-type: lower-alpha;
}

.slika-upravljacka-ploca {
    width: 70%;
    margin:2%;
}